@model HRMvcApplication.Models.MechanismDetailModel

<div id="divdropdown" style="width: 100%;height:200px;background-color: blueviolet;">
@{ Html.RenderAction("MechanismByDepartment", "Shared") ;}
</div>
<div id="divtwolist">

</div>