@model HRMvcApplication.Models.MechanismDetailModel

<div id="divdropdown" style="width: 100%;height:200px;background-color: blueviolet;">
    <iframe src="../Shared/MechanismByDepartment" scrolling="no" width="100%" height="100%" ></iframe>
</div>
<div id="divtwolist">
    <iframe src="../Mechanism/TwoList" scrolling="no" width="100%" height="100%" ></iframe>
</div>