@model HRMvcApplication.Models.MechanismDetailModel

<div id="divdropdown" style="width: 100%;height:50px;">
    <iframe src="../Shared/MechanismByDepartment" scrolling="no" width="100%" height="50px" frameborder="0"/>
</div>

@*
*@
<div id="divtwolist" style="width: 100%;height:340px;">
    <iframe src="../Mechanism/TwoList" scrolling="no" width="100%" height="100%" frameborder="0"/>
</div>
