@model HRMvcApplication.Models.MechanismDetailModel

<h2>Details</h2>


<div id="detailpanel">
    <div id="modelviewer" style="float: left;width:50%;height:100%;">
        @Html.Partial("ModelViewer",Model.SelectedModel)
    </div>

    <div id="contractviewer" style="float: left;width:50%;height:100%;">
        @Html.Partial("ContractViewer")
    </div>    
    
</div>