@model HRMvcApplication.Models.MechanismDetailModel


<style type="text/css">

    #contactrequiredlist { }
    #contactavailablelist { }
    select {
        height: 200px;
        width: 100%;
    }
    span {
        padding-bottom: 2px;
        padding-left: 4px;
        padding-top: 2px;
    }
</style>



<script type="text/javascript">

</script>



<div style="height: 340px; width: 100%;">
    @using (Html.BeginForm("TwoList","Mechanism"))
    {
        <fieldset >
        <div>
            姓名/帐号:
            @Html.EditorFor(model => model.PersonName)
            <input type="submit" name="search" id="search" value="查询" />
        </div>
        <br/>

            <legend>管理负责人</legend>
            <div style="float: left; height: 100%; width: 45%;">
                <span>未选人员</span>
                @Html.ListBoxFor(model => model.AvailableProducts, Model.AvailableSelectList, new {id = "contactavailablelist"})                                                            
            </div>
            <div style="float: left; height: 100%; width: 10%;">
                <div style="padding-top: 50px;">
                    <input type="submit" name="add" id="add" style="width: 100%;" value="添加>>" /><br />
                    <input type="submit" name="remove" id="remove" style="width: 100%;" value="移除<<" />                            
                </div>                
            </div>
            <div style="float: left; height: 100%; width: 45%;">
                <span>已选人员</span>        
                <div style="width: 100%;">
                    @Html.ListBoxFor(model => model.RequestedProducts, Model.RequestedSelectList, new {id = "contactrequiredlist"})                                                        
                </div>				        
            </div>
        </fieldset>
    }
</div>