/*----------------------------------------------------------
The base color for this template is #5c87b2. If you'd like
to use a different color start by replacing all instances of
#5c87b2 with your new color.
----------------------------------------------------------*/
body {
    font-size: .85em;
    font-family: "Trebuchet MS", Verdana, Helvetica, Sans-Serif;
    margin: 0;
    padding: 0;
}


/* MainPage's Index'
----------------------------------------------------------*/
.Top
{
	height: 82px;
	background-image: url("../../Images/top_1.jpg");
}
.Content
{
	height: 550px;
}
.Left
{
	width: 250px;
	height: 520px;
	float: left;
}
.Right
{
	height: 100%;
	float: left;
}
.Bottom
{
	height: 27px;
	background-image: url("../../Images/main_06.gif");
    text-align: center;	
}